<div class="w-full bg-fuchsia-700 h-full flex justify-between items-center p-3">
  <div class="font-bold text-white text-xl ml-5" >LOGO</div>
  <div class="flex justify-between items-center gap-5">
    <button
      *ngFor="let appRoute of appRoutes"
      [routerLink]="appRoute.path"
      (click)="setCurrentRoute(appRoute)"
      [ngClass]="'p-1 text-white font-bold border-white '+
      (appRoute===currentRoute?'border-b-2':'hover:border-b-2')"
    >
      {{appRoute.text}}
    </button>
  </div>
  <div></div>
</div>
