<div class="flex flex-col items-center w-full h-full">
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()"
  class="flex flex-col gap-4"
  >
    <div class="flex justify-between items-center gap-4">
      <label for="product-category">Name :</label>
      <div class="p-1 rounded border-[1px] border-gray-800">
      <input formControlName="name" id="product-name">
      </div>
    </div>

    <div class="flex justify-between items-center gap-4">
      <label for="product-category">Price :</label>
      <div class="p-1 rounded border-[1px] border-gray-800">
      <input formControlName="price" id="product-price">
      </div>
    </div>

    <div class="flex justify-between items-center gap-4">
      <label for="product-category">Category :</label>
      <div class="p-1 rounded border-[1px] border-gray-800">
        <select formControlName="category" id="product-category">
          <option *ngFor="let category of categoriesList" [value]="category.id">{{category.name}}</option>
        </select>
      </div>
    </div>
    <div class="flex justify-end mt-7">
      <button class="py-0.5 px-4 rounded border-[1px] border-green-500 hover:bg-green-900 hover:text-white ">Add</button>
    </div>
  </form>
</div>
